name: QA validation workflow deployment

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        options:
          - dev
          - qa
          - prod
        description: Deployment environment
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      # Runs a single command using the runners shell
      - name: Execute python file
        run: python Datatypes/bool.py
